@model IEnumerable<DejaVu.Models.CompanyDetailsDto>

    <h2>Company Details</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Full Address</th>
                <th>Number Of Employees</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.FullAddress</td>
                <td>@item.NumberOfEmployees</td>
            </tr>
        }
        </tbody>
    </table>
